@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 80vh;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 175vh;
    align-items: center;
    height: 56px;
}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}

nav span {
    margin: 42px 0px 0px 44px;
}

nav div {
    margin: 31px 40px 0px 0px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    gap: 23px;
    padding: 30px;
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 124px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;

}

.hero> :first-child {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.separation {
    height: 8px;
    background-color: rgb(47, 47, 47);
    z-index: 20;
    position: relative;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 3px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    color: white;
    border: 1px solid rgba(235, 235, 235, 0.5);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    font-weight: 400;
    background-color: red;
    color: white;
    padding: 5px 24px;
    border-radius: 4px;
    font-size: 20px;
    border-color: rgba(0, 0, 0, 0);
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border: 1px solid rgba(235, 235, 235, 0.5);
    caret-color: white;
    color: white;
}

/* .first{
    color: white;
}

.list{
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    letter-spacing: normal;
} */

.second {
    display: flex;
    color: white;
    max-width: 70vw;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-family: "Martel Sans", sans-serif;
}

@media screen and (max-width: 1300px) {
    .second {
        flex-wrap: wrap;
    }
}

.secImg img {
    width: 555px;
}

.second div {
    display: flex;
    flex-direction: column;
}

.second>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.second>div :nth-child(2) {
    font-size: 24px;
    font-weight: 300;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    padding: 0px 0px 16px 0px;
}

.faqbox:hover {
    background-color: rgb(80, 79, 79);
}

.faqbox {
    transition: all 0.3s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 47, 47);
    padding: 14px;
    max-width: 55vw;
    margin: 12px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 55px;
    }
}

@media screen and (max-width: 700px) {
    .hero> :first-child {
        font-weight: 700;
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-weight: 400;
        font-size: 16px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }

    .second>div :first-child {
        font-size: 20px;
        font-weight: 500;
    }

    .second>div :nth-child(2) {
        font-size: 16px;
        font-weight: 400;
    }

    .faq h2 {
        font-size: 18px;
    }

    .faqbox {
        font-size: 18px;
    }

    .secImg img {
        width: 355px;
    }
}

.footer a {
    color: white;
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}